# Dynamic config — douzoute.arthurbarre.fr → Portfolio (K3s NodePort)
http:
  routers:
    aurelie-web:
      rule: "Host(`douzoute.arthurbarre.fr`) || Host(`www.douzoute.arthurbarre.fr`)"
      entryPoints:
        - websecure
      service: aurelie-portfolio
      tls:
        certResolver: letsencrypt

  services:
    aurelie-portfolio:
      loadBalancer:
        servers:
          - url: "http://10.10.10.5:30081"
