# Dynamic config — grafana.arthurbarre.fr → Grafana (Tailscale only)
http:
  routers:
    grafana:
      rule: "Host(`grafana.arthurbarre.fr`)"
      entryPoints:
        - websecure
      service: grafana
      middlewares:
        - tailscale-only
        - security-headers
      tls:
        certResolver: letsencrypt

  services:
    grafana:
      loadBalancer:
        servers:
          - url: "http://10.10.10.5:30091"
