# Dynamic config — ntfy.arthurbarre.fr → Ntfy (Tailscale only)
http:
  routers:
    ntfy:
      rule: "Host(`ntfy.arthurbarre.fr`)"
      entryPoints:
        - websecure
      service: ntfy
      middlewares:
        - tailscale-only
        - security-headers
      tls:
        certResolver: letsencrypt

  services:
    ntfy:
      loadBalancer:
        servers:
          - url: "http://10.10.10.5:30092"
