# Dynamic config — rebours.studio → K3s NodePort
http:
  routers:
    rebours:
      rule: "Host(`rebours.studio`)"
      entryPoints:
        - websecure
      service: rebours
      middlewares:
        - security-headers
        - rate-limit
      tls:
        certResolver: letsencrypt

    rebours-www:
      rule: "Host(`www.rebours.studio`)"
      entryPoints:
        - websecure
      service: rebours
      middlewares:
        - security-headers
        - rate-limit
      tls:
        certResolver: letsencrypt

  services:
    rebours:
      loadBalancer:
        servers:
          - url: "http://10.10.10.5:30083"
