# Managed by Ansible — ne pas modifier à la main
PermitRootLogin {{ ssh_permit_root_login }}
PasswordAuthentication {{ ssh_password_auth }}
MaxAuthTries {{ ssh_max_auth_tries }}
X11Forwarding no
AllowAgentForwarding no
